#root {
  overflow-y: hidden;
}

.App {
  font-family: 'Roboto', sans-serif;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  font-family: 'Raleway', sans-serif;
}

.title .version {
  font-size: 0.7em;
}

.bottom {
  margin: 10px -30px 0;
  padding: 10px 30px;
  background: #333;
  color: #FFF;
}

.genderList {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.genderList .genderEntry {
  display: flex;
  border: 1px solid black;
  margin-top: -1px;
  cursor: pointer;
  position: relative;
}

.genderList .genderEntry.animated {
  z-index: 100;
}

.genderList .genderEntry:first-child {
  margin-top: 0;
}

.genderList .genderEntry.selected {
  background: #dbf5e9;
}

.genderList .genderEntry.disabled {
  background: #EEE;
  font-style: italic;
  cursor: not-allowed;
}

.genderList .genderEntry div.radioButton {
  flex: 0 0 40px;
  box-sizing: border-box;
  height: 40px;
  margin: 5px;
  position: relative;
  border: 3px solid black;
  border-radius: 50%;
  background: #FFF;
  padding: 2px;
}

.genderList .genderEntry div.radioButton.checked::before {
  content: "";
  background: #32b67a;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
}

.genderList .genderEntry div.radioButton.checked::after {
  content: "";
  position: absolute;
  background: transparent;
  width: 47%;
  height: 25%;
  border: 4px white solid;
  border-top: none;
  border-right: none;
  top: 30%;
  left: 22%;
  transform: rotate(-45deg);
}

.genderList .genderEntry div.label {
  padding: 13px; /*(50-24)/2*/
  line-height: 24px;
  font-size: 20px;
}

@media(max-width: 400px) {
  .App {
    margin: 0 15px;
  }
  
  .bottom {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
  }
    
  .genderList .genderEntry div.label {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  } 
  .genderList .genderEntry div.radioButton {
    flex: 0 0 30px;
    height: 30px;
    border-width: 2px;
  }
  
  .genderList .genderEntry div.radioButton.checked::after {
    border-width: 3px
  }
}